@import './variables.scss';

.toggle-theme {
    background: $purple;
    transition: background 0.25s ease-in-out;
    padding: 10px;
    border-radius: 10px;
    flex-shrink: 0;

    &:hover {
        background: $purple-dark;
    }
}