@import './variables.scss';

.add-task-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: rgba(37, 37, 37, 0.70);
    display: flex;
    justify-content: center;
    z-index: 9999;
    .add-task-content {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-radius: 16px;
        background: $background;
        width: 500px;
        height: 289px;
        flex-shrink: 0;
        padding: 18px 30px;
        border: 1px solid $light;

        input {
            padding: 8px 16px;
            border-radius: 5px;
            width: 100%;
            background-color: transparent;
            border-radius: 5px;
            border: 2px solid $purple;
            box-shadow: 0px 0px 0px 0px #000;
            font-weight: 500;
            line-height: 100%;

            &::placeholder {
                color: #C3C1E5;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
            }

            &:focus {
                box-shadow: 0px 0px 2px 2px rgba(108, 99, 255, 0.40);
            }
        }

        .actions {
            margin-top: auto;
            display: flex;
            justify-content: space-between;

            .cancel {
                color: $purple;
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                cursor: pointer;
                transition: border 0.2s ease, box-shadow 0.2s ease;
                border: 1px solid $purple;
                padding: 10px 22px;
                border-radius: 5px;

                &:hover {
                    border: 1px solid $purple-dark;
                    box-shadow: 0px 0px 2px 2px rgba(108, 99, 255, 0.40);
                }
            }

            .apply {
                color: $text;
                display: inline-flex;
                padding: 10px 22px;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                border-radius: 5px;
                background: $purple;
                cursor: pointer;
                transition: background 0.2s ease;

                &:hover {
                    background: $purple-dark;
                }
            }
        }
    }
}

// .add-task-popup.dark {
//     .add-task-content {
//         border: 1px solid $light;
//         background: $dark;
//     }

//     input {
//         color: $light;
//         border: 2px solid $light;

//         &::placeholder {
//             color: #666;
//         }

//         &:focus {
//             box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.40);
//         }
//     }
// }