@use 'scss-reset/reset';
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap');
@import './variables.scss';
@import './search.scss';
@import './toggle-theme.scss';
@import './select.scss';
@import './add-button.scss';
@import './note.scss';
@import './add-task-popup.scss';
@import './no-tasks.scss';

body {
    font-family: 'Kanit', sans-serif;
}

.wrapper {
    background-color: $light;
    color: $dark;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1400px;
    align-items: center;
    padding: 0 60px;
    min-height: 100vh;
}

.wrapper.dark {
    background-color: $dark;
    color: $light;
}

.actions {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}

.title {
    color: inherit;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}


// ----------------------------------- body ------------------------------------- //
.body {
    flex: 1 1 auto;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    position: relative;

    .list {
        max-width: 520px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
}