.body {
}
.note-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  &__input {
    background-color:transparent; 
  border: 1px solid transparent; 
  }
  &__error {
    color: #ed4337;
    line-height: 0;
  }
}
.actions-note-page {
  display: flex;
  gap: 1rem;
  &__done {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__edit {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
