:root {
  --background: #f7f7f7;
  --text: #252525;
}

[data-theme='dark'] {
  --background: #252525;
  --text: #f7f7f7;
}
$purple: #6c63ff;
$purple-light: #6c63ff33;
$purple-dark: #534cc2;
$light: #f7f7f7;
$dark: #252525;

$background: var(--background);
$text: var(--text);
